<div class="txt-sec">
  <h2 class="heading-blue">Angular Components</h2>
  <p>Components are the key features of Angular. The whole application
    is built by using different components.The core idea behind Angular
    is to build components. They make your complex application into
    reusable parts which you can reuse very easily.
    Component encapsulate the data, logic, and HTML for a view - means everything user sees on screen.
  </p>
  <a href="" class="btn btn-blue">Learn More</a>
  <div class="clear"></div>
</div>
