<div class="txt-sec">
  <h2 class="heading-red">Single Page Application (SPA)</h2>
  <p>A single page application is a web application or a website which provides users a very fluid,
    reactive and fast experience similar to a desktop application. It contains menu,
    buttons and blocks on a single page and when a user clicks on any of them;
    it dynamically rewrites the current page rather than loading entire new pages from a server.</p>
  <a href="" class="btn btn-red">Learn More</a>
  <div class="clear"></div>
</div>
